.date {
  display: flex;
  flex-direction: row;
}

.date div {
  margin: 2px;
}

.day {
  display: flex;
}

.date {
  display: flex;
  align-items: center;
}

.day .number-extension {
  font-size: 13px;
}
