@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  background-color: #0dbf6d;
}

.site-heading {
  color: white;
  text-align: center;
}


/* Primary Color --> #3bdb91 */
/* Secondary Color --> #0dbf6d */
